* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-one: #462686;
    --color-two:#A4A4FF;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    min-height: 100vh;
}

.main {
    width: 80%;
    background-image: radial-gradient(var(--color-one), var(--color-two));
    border-radius: 30px;
    min-height: 500px;
}

header {
    background: rgba(255, 255, 255, 0.19);
    padding: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.weather-box {
    min-width: 320px;
    min-height: 400px;
    background: #000000;
    opacity: 0.2;
    backdrop-filter: blur(16px);
    border-radius: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-box h3 {
    margin-top: 10px;
    color: #ffffff;
}

.circale {
    background: rgba(255, 255, 255, 0.26);
    border-radius: 50%;
    padding: 25px 42px;
    font-size: 50px;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
